.userAccord {
   color: black;
}

.settingscard {
   padding: 4%;
}

.menuiteminfo img{
   width: 100%;
}

.card {
   color: black;
   margin-bottom: 1.5rem;
   padding: 30px;
}

.dashboard button {
   width: 100%;
}

.manage button {
   width: auto;
}

.card-body {
   display: grid;
   align-items: flex-end;
}

.image-preview img {
   max-width: 100%;
}

.document-frame object{
   width: 100%;
   height: 100%;
   border: 1.3px solid black;
}
.document-frame {
   overflow-y: hidden;
   min-height: 30vh;
   resize: both;
}

.button-split {
   width: 50%;
}

.isnew svg {
   margin: 0 5px 0 5px;
}
#xcircle {
   margin-right: 20px;
}

#xcircle:hover, #checkcircle:hover {
   transform: scale(1.1);
}

.new-badge {
   color: black;
}

.badge {
   margin-right: 10px;
}

.userInfo {
   width: 100%;
}

.userInfo p {
   display: inline;
}

.userrank {
   display: inline-block;
   min-width: 60px;
}

.isnew {
   display: flex;
   justify-content: flex-end;
}