.navbar-brand img {
   margin-right: 6%;
}
.navbar .container {
   padding: 10px 0 10px 0;
}
.icon {
   pointer-events: none;
}
#cart-overlay {
   position: relative;
   top: -12px;
   left: -12.4px;
}

.menu-text {
   display: none;
}

@media screen and (max-width: 768px) {
   .menu-text {
      display: inline;
   }
}

@media screen and (max-width: 510px) {
   .orders {
      overflow: scroll;
      max-width: 100%;
   }
}